/* This file is for your main application css. */
body {
  color: #333;
  background: #fefefe;
}

.container {
  margin: 0 auto;
}

.content svg {
  display: none;
}

.content img {
  max-width: 100%;
}

.content pre,
.content code
{
  font-size: 0.7em;
  line-height: 1.6;
  max-width: 100%;
  overflow-x: auto;
  padding: 15px 10px;
  color: #1d2021;
  background: #fafafa;
}

.content p code,
.content pre code {
  padding: 0;
  font-size: inherit;
  background: none;
}

.content a {
  color: inherit;
  text-shadow: -2px -2px #fefefe, -2px 2px #fefefe, 2px -2px #fefefe, 2px 2px #fefefe;
  background-size: 1px 1em;
  box-shadow: inset 0 -0.175em white, inset 0 -0.2em #107896;
}

h1, h2, h3, h4, h5 {
  font-family: serif;
  line-height: 1.4;
}

.header, form {
  font-family: sans-serif;
}

form.link {
  margin: 0;
}

.lead {
  margin: 1em 0;
}

.flex {
  display: flex;
  align-items: center;
}

.button-error {
  color: #fff;
  font-weight: bold;
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-xsmall {
  font-size: 70%;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

svg {
  display: none;
}

a {
  text-decoration: none;
}

.entry-list-item__btn {
  flex-grow: 1;
  margin: 5px;
}

.entry-list-item__title-link {
  font-size: 1em;
  color: #222;
  display: block;
  width: 100%;
  padding: 10px 10px;
  transition: 0.2s;
}

.entry-list-item {
  transition: 0.2s;
}
.entry-list-item:hover {
  background: #f5f5f5;
}

.entry-list-item__title-link:hover {
  color: #000;
  background: #f5f5f5;
}

.entry-details-btn {
  float: right;
  margin-left: 5px;
  font-family: sans-serif;
}
